<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <h1 id="header">Todo List</h1>
    <div id="background"></div>
    <div id="app">
      <textarea type="text" placeholder="Enter your list item"></textarea><br>
      <button v-on:click="create">Add to list</button>
      
      <p v-if="!todoList.length">List is empty</p>
      <ul style="text-align: left;">
        <li v-for="(e,i) in todoList">
          <button style="float: right;" v-on:click="remove(i)">X</button> {{ e }}
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
    <script src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|horizontal|,|sensitivity|:0.22,|colorStart|:[50,22,103,1],|colorEnd|:[20,86,205,1]},|particle|:{|life|:5,|power|:0.5,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/circle_01.png|,|number|:500,|colorStart|:[116,129,92,0.13],|colorEnd|:[198,188,107,0.52],|sizeStart|:0.82,|sizeEnd|:1.64,|direction1|:{|x|:0,|y|:100,|z|:0},|direction2|:{|x|:0,|y|:-100,|z|:0}},|waterMark|:false}" data-container="background"></script>
  </body>
</html>
