<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <span v-if="!todoList.length">List is empty</span>
      <ul>
        <li v-for="(e,i) in todoList">
          {{ e }}   <button v-on:click="remove(i)">X</button>
        </li>
      </ul>


      <input type="text" placeholder="Enter your list item">
      <button v-on:click="create">Add to list</button>
    </div>

    <script src="app.js"></script>
  </body>
</html>