@font-face {
  font-family: main;
  src: url(lineto-circular-black.ttf);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body {
  margin: 0;
  color: white;
}

* {
  font-family: main;
}

#app {
  text-align: center;
}
